@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,700&family=Poppins:wght@600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.cdnfonts.com/css/revamped');
@import url('https://fonts.cdnfonts.com/css/parisienne');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  list-style: none;
}

header {
  position: relative;
}

.parent-nav {
  background-color: #ffffff;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  transition: all 1s;
}

.parent_active {
  position: fixed;
  top: 0;

  background-color: #ffffff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  z-index: 99;
}


.logo img {
  margin-bottom: 10px;

}

.link {
  position: relative;
  display: flex;
  top: 5px;
}

li {
  margin: 5px;
}



a {
  position: relative;
  color: #5087cd;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0 10px;

}

a::after {
  content: "";
  position: absolute;
  background-color: #f46e16;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover {
  /* color:#ffffff ; */
  color: #a0a0a0;
}

a:hover:after {
  width: 100%
}

.btn {
  background-color: #f46e16;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}


.btn:hover {
  background-color: #5087cd;
  color: #ffffff;

}

.line {
  position: absolute;
  background-color: #5087cd;
  width: 100%;
  height: 1px;
  top: 40px;
}

.icons {
  height: 39px;
}

.parenticon {
  display: flex;
  margin-left: 85px;
}

svg {
  color: #ffffff;
  margin-left: 7px;
  margin-top: 7px;
}

.childicon {
  background-color: #f46e16;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 3px;
}

.contact-icon {
  display: flex;
  margin-left: 550px;
}




.contact-icon .childicon {
  background-color: #f46e16;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 3px;
}

.parent-nav h4 {
  position: relative;
  font-family: revamped;
  color: #f46e16;
  margin-right: 155px;
  right: 70px;
}





/* === removing default button style ===*/
.button {
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

.actual-text {
  color: #5087cd;

  font-size: 17px;
  margin-left: 4px;
  font-family: "Poppins", sans-serif;

}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #f46e16;
  --fs-size: 2px;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  font-size: 17px;
  margin: 5px 4px;
  width: 0%;
  inset: 0;
  font-family: 'Poppins', sans-serif;
  /* border-right: var(--border-right) solid var(--animation-color); */
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

/* learn more btn css */
#LrBtn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

#LrBtn.learn-more {
  width: 12rem;
  height: auto;
}

#LrBtn.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  /* background: #282936; */
  background: #f46e16;
  border-radius: 1.625rem;
}

#LrBtn.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

#LrBtn.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

#LrBtn.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

#LrBtn.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  /* color: #282936; */
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

#LrBtn:hover .circle {
  width: 100%;
}

#LrBtn:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

#LrBtn:hover .button-text {
  color: #fff;
}

/* end learn more btn css */

/* footer styling */
.footer-links {
  display: flex;
  justify-content: center;
  margin-left: 0px;

}

.footer-links li {
  margin-inline: 1px;
}

.footer-links li a {
  font-size: 0.7rem;
}

.Card-header-img {
  font-family: "Parisienne";
  color: #5087cd;
}

.image-container {
  min-width: 30rem;
  height: 28rem;
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_acc img {
  width: 100%;
  height: auto;
}


/* media navbar */

@media(max-width:1135px) {

  .parenticon {
    display: flex;
    margin-left: 55px;
  }

  .childicon {
    background-color: #f46e16;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 8px;
    margin-top: 3px;
  }

  .contact-icon {
    display: flex;
    margin-left: 430px;
  }


}

@media(max-width:1047px) {



  .parenticon {
    display: flex;
    margin-left: 55px;
  }

  .childicon {
    background-color: #f46e16;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 8px;
    margin-top: 3px;
  }

  .contact-icon {
    display: flex;
    margin-left: 370px;
  }


}

@media(max-width:1047px) {




  .childicon {
    background-color: #f46e16;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 3px;
  }

  .contact-icon {
    display: flex;
    margin-left: 320px;
  }


}

@media(max-width:930px) {

  .childicon {
    background-color: #f46e16;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 2px;
    margin-top: 3px;
  }

  .contact-icon {
    display: flex;
    margin-left: 280px;
  }



}

@media(max-width:877px) {

  .parenticon {
    display: flex;
    margin-left: 25px;
  }

  .childicon {
    background-color: #f46e16;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    margin-top: 3px;
  }

  .contact-icon {
    display: flex;
    margin-left: 200px;
  }



}


/* end media */

.slide-h4 {
  color: #5087cd;
  text-align: center;
}

.parent-div-inscri {
  position: relative;


}

.div-inscri {
  position: fixed;
  background-color: #f46e16;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  right: 30px;
  top: 90%;
  z-index: 99;
}

.div-inscri-h6 {
  position: fixed;
  background-color: #f46e16;
  border-radius: 20px;
  padding: 2px 0px;
  width: 120px;
  height: 25px;
  right: 73px;
  top: 91.5%;
  z-index: 99;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.div-inscri svg {
  font-size: 20px;
  margin: 9px 8px;
  cursor: pointer;
}


.parent-scrole-div {
  position: relative;
}

.div-scrol {
  position: fixed;
  background-color: #f46e16;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  top: 89%;
  z-index: 99;
  left: 25px;
}

.div-scrol svg {
  font-size: 25px;
  color: #ffffff;
  text-align: center;

  margin: 10px 6px;
  cursor: pointer;
}